.description {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.name {
  padding-top: 25px;
  font-weight: 500;
  font-size: 20px;
}

.tag {
  padding-top: 10px;
  color: grey;
}

.location {
  padding-top: 10px;
  color: grey;
}
